version: 2
updates:
  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "daily"
    rebase-strategy: "auto"
    labels:
      - "dependencies"
      - "uv"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    rebase-strategy: "auto"
    labels:
      - "dependencies"
      - "github-actions"
